<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="Mario"
    [(ngModel)]="amiiboName"
    (ionInput)="searchAmiibo()"
    [debounce]="250"
  ></ion-searchbar>

  <ion-grid>
    <ion-row>
      @for (amiibo of amiibos; track $index) {
        <ion-col size-lg="2" size-md="2" size-sm="12" size="12">
          <app-card
            [name]="amiibo.name"
            [gameSeries]="amiibo.gameSeries"
            [image]="amiibo.image"
          />
        </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="getAmiibos($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-tabs></app-tabs>